<article class="left_article">
    <h3> TESTE DE ATENÇÃO AUDITIVA</h3>
    <P>
        Neste teste o computador emitirá alternadamente, sons da voz humana proferindo nomes de&nbsp;
       <strong >objetos, animais ou comidas </strong>
       <br>

      Quando você ouvir um nome do grupo CERTO, pressione a barra de espaço ou toque na barra vermelha
      abaixo o mais rápido que puder. Se ouvir um nome do grupo errado, não tome nenhuma ação.
    </P>
</article>
<aside class="right_article">
    <br>
    <br>
    <br>
    <img src="assets/Imagens/goal2.jpg" width="90%">
    <!-- <router-outlet></router-outlet> -->
</aside>
