.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;

}

.footer span{
    font-weight: 50px;
    text-align: center;
    color:#FFFFFF;

}

.copyright{
    text-align: center;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
}
