h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #494949;
  letter-spacing: 2px;
}

.secondary_header {
   margin-top:    0px;
   margin-right:  0px;
   margin-bottom: 0px;
   margin-left:   0px;
   padding-top:   1px;
   padding-bottom: 40px;
   clear: left;
   background-color: #B3B3B3;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.secondary_header ul li {
  float: none;
  /* margin-top: 28px; */
  margin-left: 0px;
  width: 100%;
}
.secondary_header ul li{

  list-style: none;
  margin-right: auto;
  margin-top: 0px;
  font-weight: normal;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-left: auto;
  text-align: center;
  width: 16%;
  transition: all 0.3s linear;
}
li{

  display: list-item;
}

.secondary_header a {

  text-decoration: none;
  font-weight: bold;
}

nav {

   display: block;
}

.primary_header {

   width: 100%;
   background-color: #56B4CD;
   padding-top: 10px;
   padding-bottom: 10px;
   clear: left;
   border-bottom: 2px solid #2C9AB7;

}

div {
   display: block;
}

.footer {

  background-color: #717070;
  padding: 1px 0px 40px;
}

footer{
  display: block;
}

.copyright{
   text-align: center;
   background-color: #717070;
   color: #FFFFFF;
   text-transform: uppercase;
   font-weight: lighter;
   letter-spacing: 2px;
   border-top-width: 2px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

element-color {
   background-color: #FFFFFF;
   width: 90%;
   margin: auto;
}

.container{

  background-attachment: #FFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-width: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

}


